@import "tailwindcss";

@font-face {
  font-family: 'Neo Sans Arabic Regular';
  src: url('./assets/fonts/alfont_com_NeoSansArabic.ttf') format('truetype');
}

:root {
  --color-primary: rgb(14, 20, 36); /* نفس قيمة primary في tailwind */
  --color-secondary: rgb(1,152,142);
  --color-accent: #fff;
  --color-danger: #ef4444;
  --font-arabic1: 'Neo Sans Arabic Regular';
  --font-arabic2: 'amiri';

}
.primaryColor{
  background-color: var(--color-accent);
}
.SeconsryColor{
  background-color:var(--color-primary);
}
button.SeconsryColor:hover{
  background-color: var(--color-secondary);
}
input:focus{
  outline-color: var(--color-secondary);
  outline-width: 1px;
  outline-style: solid; /* لون indigo-500 في Tailwind */
  outline-offset: 0px;
}
.accentColor{
  background-color: var(--color-secondary);
}
.errorColor{
  color: var(--color-danger);
}
.amiriFont{
  font-family: var(--font-arabic1);
  font-weight: 500;
}


.amiriInput {
  border-radius: 3px !important;
  border: 1.5px solid #000 !important;
}
body {
  
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
  background-color: rgb(255, 255, 255);
 
}

